body {
    background-image: url("/images/cat.jpg");
}

.font-2 {
    font-family: "Playwrite FR Moderne", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    text-align: center;
    font-family: "Darumadrop One", cursive;
}

.quote {
    text-align: center;
    font-style: italic;
    font-family: "Playwrite FR Moderne", cursive;
}

h1 {
    font-family: "Playwrite FR Moderne", cursive;
}

.navbar {
    text-align: center;
}

.footer {
    align-items: center;
    text-align: center;
}

hr {
    color: white;
}

header {
    width: 30%;
    padding: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    @media screen and (max-width: 1200px) {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
    }
}

main {
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2.5rem;
    font-family: "Iosevka Aile", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    @media screen and (max-width: 725px) {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
    }
}

footer {
    width: 25%;
    display: flex;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
    @media screen and (max-width: 1200px) {
        width: 40%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
    }
    @media screen and (max-width: 725px) {
        width: 90%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 1rem;
    }
}

main,
header,
footer {
    background-color: $bg0;
}

footer {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    display: flex;
    margin: 0 auto;
}

blockquote p {
    font-style: italic;
    font-size: 16px;
    border-left: 4px solid #ccc;
    font-family: "Playwrite FR Moderne", cursive;
    padding-left: 8px;
}
