<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>mizuuu</title>
    <meta name="description" content="A personal blog site" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="stylesheet" href="/main.css" />
    <!-- Place favicon.ico in the root directory -->
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap");
    @import url("./fonts/IosevkaAile-Regular.ttc");
  </style>

  <body>
    <header style="margin-bottom: 0.5rem">
      <div>
        <h1 class="header">mizuuu</h1>
        <blockquote class="quote font-2">
          "What I wouldn't give to be normal. To live in that bubble of naive."
        </blockquote>
      </div>
      <nav class="navbar font-2">
        <span><a href="/">Home</a></span>
        |
        <span><a href="/blog">Blog</a></span>
        |
        <span><a href="/about">About</a></span>
      </nav>
    </header>
    <main>
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
    <footer style="margin-top: 0.5rem">
      <div class="footer">
        <a href="https://landchad.net" target="_blank">
          <img src="/images/links/landchad.gif" alt="landchad.net" />
        </a>
        <a href="https://links.yesterweb.org" target="_blank">
          <img src="/images/links/yesterlinks.png" alt="yesterlinks" />
        </a>
        <a href="https://sadgrl.online" target="_blank">
          <img
            src="/images/links/sadgrlonline.gif"
            alt="sadgrl online banner"
          />
        </a>
      </div>
    </footer>
  </body>
</html>
