{% extends "base.html" %} {% block content %}
<h1 class="title">
  Journal entries
  <!-- {{ section.title }} -->
</h1>
<ul>
  {% for page in section.pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{page.date}} - {{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
