{% extends "base.html" %} {% block content %}
<h1 class="title">My cozy corner in the internet</h1>

<p>
  This is a very simple website with 1 function, to store my blogs/jounral
  entries.
  <br />
  <br />
  Why did I create this website? - <a href="/blog/first">Read here</a>
</p>
{% endblock content %}
